@import url("https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-lightmode-bg-color: var(--lightmodebgcolor);
  --color-darkmode-bg-color: var(--darkmodebgcolor);
  --color-lightmode-text-color: var(--lightmodetextcolor);
  --color-darkmode-text-color: var(--darkmodetextcolor);

  --color-lightmode-header-bg-color: var(--lightmodeheaderbgcolor);
  --color-darkmode-header-bg-color: var(--darkmodeheaderbgcolor);

  --color-lightmode-footer-bg-color: var(--lightmodefooterbgcolor);
  --color-darkmode-footer-bg-color: var(--darkmodefooterbgcolor);

  --color-lightmode-scrolltotop-bg-color: var(--lightmodescrolltotopbgcolor);
  --color-darkmode-scrolltotop-bg-color: var(--darkmodescrolltotopbgcolor);
}

:root {
  --lightmodebgcolor: hsl(146, 100%, 97%);
  --darkmodebgcolor: hsl(146, 41%, 10%);
  --lightmodetextcolor: hsl(0, 0%, 5%);
  --darkmodetextcolor: hsl(0, 0%, 96%);

  --lightmodeheaderbgcolor: hsl(0, 0%, 96%);
  --darkmodeheaderbgcolor: hsl(144, 41%, 5%);

  --lightmodefooterbgcolor: hsl(0, 0%, 96%);
  --darkmodefooterbgcolor: hsl(144, 41%, 5%);

  --lightmodescrolltotopbgcolor: hsl(144, 41%, 5%);
  --darkmodescrolltotopbgcolor: hsl(0, 0%, 96%);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Playwrite DE Grund";
  letter-spacing: 1ppx; 
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins"!important;
  font-weight: 600;
}
