@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-lightmode-bg-color: var(--lightmodebgcolor);
  --color-darkmode-bg-color: var(--darkmodebgcolor);
  --color-lightmode-text-color: var(--lightmodetextcolor);
  --color-darkmode-text-color: var(--darkmodetextcolor);

  --color-lightmode-header-bg-color: var(--lightmodeheaderbgcolor);
  --color-darkmode-header-bg-color: var(--darkmodeheaderbgcolor);
}

:root {
  --lightmodebgcolor: hsl(146, 100%, 97%);
  --darkmodebgcolor: hsl(146, 41%, 10%);
  --lightmodetextcolor: hsl(0, 0%, 5%);
  --darkmodetextcolor: hsl(0, 0%, 96%);

  --lightmodeheaderbgcolor: hsl(0, 0%, 96%);
  --darkmodeheaderbgcolor: hsl(144, 41%, 7%);
}

html {
  scroll-behavior: smooth;
}
